.forecast-view-wrapper {
	background-color: #1D56B0;
	height: fit-content;
	min-height: 40vh;
	width: 40rem;
	padding: 2rem;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	border-radius: 0.5rem;
	box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );

	.forecast-view-city-name {
		padding: 0rem 1rem 0.5rem 1rem;
		text-align: center;

		span {
			color: #fff;
			font-size: 36px;
		}
	}

	.forecast-view-reload {
		margin-bottom: 40px;
		text-align: center;

		button {
			background-color: #123a6e;
			width: 10%;
			border: 1px solid #fff;
			color: #fff;
			cursor: pointer;
			font-size: 12px;
			padding: 0.25rem 0.5rem;
			border-radius: 0.5rem;
			box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );

			&[disabled] {
				opacity: 0.5;
			}
		}
	}

	.forecast-view-forecast-day {
		margin: 0 auto;
		max-width: 95%;
	}
}